.cities-block {
    width: 100%;
    background: #FFCC66;
    display: flex;
    border-radius: 2px;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.city {
    padding: 4px 6px 4px 6px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: .2s;
    box-sizing: border-box;

    & + & {
        margin-left: 20px;
    }

    &:hover {
        background: #ffe7bb;
    }

    &.active {
        background: #ffe7bb;
        box-shadow: 0 4px 6px #FFCC66;

    }
}