@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
    background-color: rgb(39,39,39);
    padding-top: 10%;
    user-select: none;
    
}

.app {
    width: 90%;
    max-width: 768px;
    background-color: #ffe7bb;    
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.568);
    
}

h1, h2, h3 {
    margin: 0;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgb(41, 38, 38);
}

h1 {
    padding: 2% 0;
    font-family: 'Akaya Telivigala';
    text-transform: uppercase;
    width: 100%;
    background: #FFCC66;

}

h3 {
    padding: 1% 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #FF6600;
    background-color: #00fdfd96;
}

.content {
    margin: 2% 0 1% 0;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-left, .column-right {
    box-sizing: border-box;
    border-top: none;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.column-left {
    width: 36%;
}

.column-right {
    width: 62%;
}

input {
    margin:  0 0 10% 0% ;
    max-width: 35px;
    color: #CC0033;
    outline: none;
    text-align: center;
    background-color: #FFCC66;
    border: 1px solid #FF6600;
    
    &::placeholder {
        font-size: 10px;
    }

    &::selection {
        background-color: honeydew;
    }
}

.city-storage, .storage, 
.transportations, .stats {
    border: 1px solid #FF6600;
    background-color: #ffcc66fd;
}

.storage, .transportations {
    margin-bottom: 4%;
}


button {
    margin-top: 1px;
    padding: 4px;
    font-size: 14px;
    color: #ffe7bb;
    letter-spacing: 0.03em;
    background-color:#FF6600;
    border: none;
    // border: 1px solid #1f797994;
    box-sizing: border-box;
    outline: none;

    &:hover {
        transition: .1s ease-out;
        background-color: #4ca0a0;
        cursor: pointer;
    }
}

