.stats {
    margin: 4% 0;
    display: flex;
    justify-content: space-around;
}

.stats-money {
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.money-icon{
    width: 20px;
    height: 20px;
    background-image: url("../../assets/money.svg");
    background-size: contain;
}

.money {
}