.transported-goods-wrapper {
    margin: 4%  0 4% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.days {
    font-size: 14px;
}

.goods-box {
    margin-left: 1%;
    position: relative;
    width: 56px;
    height: 56px;

    background-repeat: no-repeat;
    background-size: contain;

    &.goods-box-1 {
        background-image: url('../../assets/mushrooms.svg');
    }

    &.goods-box-2 {
        background-image: url('../../assets/woods.svg');
    }

    &.goods-box-3 {
        background-image: url('../../assets/milk.svg');
    }

    &.goods-box-4 {
        background-image: url('../../assets/seeds.svg');
    }

    &.goods-box-5 {
        background-image: url('../../assets/vegetables.svg');
    }

    &.goods-box-6 {
        background-image: url('../../assets/stone.svg');
    }

    &.goods-box-7 {
        background-image: url('../../assets/tools.svg');
    }

    &.goods-box-8 {
        background-image: url('../../assets/gold.svg');
    }
}

.from-to-town {
    text-align: center;
}

.to-ship {
    text-align: center;
    margin-right: 2%;
}

.to-ship-btn {
    // width: 120%;
    // padding: 20%;
    // box-sizing: border-box;
}